
.aboutme__container{
    min-height: 100vh;
    max-width: 100%;
    padding: 10rem 3rem 2rem 3rem;
    background-color: #F1F1F1;
    overflow: hidden;
    position: relative;
}
.aboutme__container__info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.square__about{
    position: absolute;
    top: 60%;
    left: 40%;
}
@media only screen and (max-width:1250px){
    .square__about{
        position: absolute;
        top: 82%;
        left: 40%;
    }
}
@media only screen and (max-width:850px){
    .square__about{
        position: absolute;
        top: 78%;
        left: 30%;
    }
}
@media only screen and (max-width:650px){
    .aboutme__container{
        padding: 6rem 3rem 2rem 3rem;
        position: relative;
    }
    .aboutme__container__info{
        display: block;
        margin: 2rem auto;
        text-align: center;
    }
    .square__about{
        display: none;
    }
    
}
@media only screen and (max-width:450px){
    .aboutme__container{
        padding: 6rem 1.5rem 2rem 1.5rem;
        position: relative;
        text-align: center;
    }
   
}


