.aboutmeinfo__container{
    padding: 3rem;
    width: 50%;
    margin: -5rem 2rem 2rem 2rem;
    overflow: hidden;
}

.aboutmeinfo__container h4{
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 400;
    font-family: poppins, sans-serif;
    font-size: 2rem;
    padding: 0 .5rem;
    color: 	#4B0082;
    border-left: 3px solid 	#FF4500;
}

.aboutmeinfo__container h1{
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 600;
    font-family: poppins, sans-serif;
    margin-top: 1.5rem;
    background-image: linear-gradient(60deg, #000428dc, #004e92e8);
    background-clip: text;
    color: transparent;
    line-height: 4rem;
}

.aboutmeinfo__container p{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: poppins, sans-serif;
    color: #778899; 
    text-align: start;
}


@media only screen and (max-width:1440px){
   
    .aboutmeinfo__container h1{
        font-size: 1.7rem;
        line-height: 2.5rem;
    }
    .aboutmeinfo__container p{
        text-align:left;
        font-size: 1.2rem;
    }
}
@media only screen and (max-width:1080px){
   
    .aboutmeinfo__container h1{
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    .aboutmeinfo__container p{
        text-align:left;
        font-size: 1rem;
    }
    .aboutmeinfo__container h4{
        font-size: 1.6rem;
    }
}
@media only screen and (max-width:850px){
    .aboutmeinfo__container h1{
        font-size: 1.1rem;
        line-height: 1.6rem;
    }
    .aboutmeinfo__container p{
        text-align:left;
        font-size: .8rem;
    }
    .aboutmeinfo__container h4{
        font-size: 1.1rem;
    }
    .aboutmeinfo__container{
        padding: 3rem 1rem;
    }
}
@media only screen and (max-width:650px){
    .aboutmeinfo__container{
        width: 100%;
        margin: 3rem auto;
    }
    .aboutmeinfo__container h1{
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    .aboutmeinfo__container p{
        text-align:left;
        font-size: 1rem;
    }
    .aboutmeinfo__container h4{
        font-size: 1.4rem;
        width: 12rem;
    }
    }

