.card-section-container {
  padding: 2rem;
  background-color: #F1F1F1;
  min-height: 75vh;
  width: 100%;
  
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card-section-container h1 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  background-image: linear-gradient(60deg, #000428dc, #004e92e8);
  background-clip: text;
  color: transparent;
  text-align: center;
  text-transform: capitalize;
  margin-top: 8rem;
  font-family: poppins, sans-serif;
  line-height: 4rem;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 6rem;
}


.card {
  max-height: 22rem;
  max-width: 22rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 2rem;
  padding: 1.5rem;
  background-color: #F8F8FF;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cardTech-img{
  max-height: 5rem;
  max-width: 5rem;
  background-position: center;
  background-size: cover;
}

.card h4{
  font-size: 1.7rem;
  font-family: poppins, sans-serif;
  font-weight: 600;

}

.card p{
  margin-top: -1rem;
  font-family: poppins, sans-serif;
  font-weight: 400;
  color:#2f4f4fc7;
  font-size: 1.3rem;

}
link {
  text-decoration: none;
}

@media only screen and (max-width:1440px){
  .card h4{
    font-size: 1.5rem;
  }
  .card p{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width:950px){
  .card h4{
    font-size: 1.2rem;
  }
  .card p{
    font-size: 1rem;
  }
  .cardTech-img{
  width: 4rem;
  height: 4rem;
}
}

@media only screen and (max-width:780px){
  .card{
    padding: 1rem;
  }
  .card h4{
    font-size: 1rem;
  }
  .card p{
    font-size: .8rem;
  }
  .cardTech-img{
  width: 3rem;
  height: 3rem;
}
}
@media only screen and (max-width:650px){
 .card-wrapper {
    display: block;
}
.card{
  margin: 2rem auto;
  width: 22rem;
  height: 20rem;
  align-items: center;
}
.card-section-container h1{
  margin-top: 5rem;
  font-size: 2.2rem;
}
.card-wrapper {
  margin-top: 3rem;
}
.cardTech-img{
  width: 6rem;
  height: 6rem;
}
.card h4{
  font-size: 1.4rem;
}
.card p{
  font-size: 1rem;
}
.card-section-container {
  margin-top: -5rem;
  z-index: 5000;
}

}
@media only screen and (max-width:450px){
  .card{
    margin: 2rem auto;
    width: 20rem;
    height: 20rem;
    align-items: center;
  }
  .card-section-container h1{
    margin-top: 5rem;
    font-size: 1.8rem;
    font-weight: 800;
  }
}








