.contact__container{
    height: 100vhs;
    width: 100%;
    background-color:#eff8fe ;
    text-align: left;
    padding: 10rem 8rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.contact__heading{
    width: 50%;
    margin-left:5rem ;
    margin-top: 2rem;
}

.contact__container h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-family: poppins,sans-serif;
    font-weight: 500;
    color: #4B0082;
    padding: 0 .3rem;
    border-left: 3px solid #FF4500;
}

/* .contact__container h1{
    display: flex;
    flex-wrap: wrap;
    width: 22em;
    font-size: 4rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    font-family: poppins,sans-serif;
    font-weight: 600;
    color:  #001245;
} */

.contact{
    width: 100%;
    background-color:#eff8fe;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.contact .form{
  width: 80rem;
  display: flex;
  height: 60rem;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 30px;
  margin-right: auto;
  margin-left: -15rem;
  margin-top: 5rem;
  
}
.form h3{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: #001245;
    text-transform: capitalize;
    font-family: poppins,sans-serif;
    font-weight: 600;
    text-shadow:rgba(0, 0, 0, 0.1) 0px 10px 50px ;
    margin-top: 1rem;
    padding: 1rem 0;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
}

.form label{
    font-size: 1.5rem;
    font-family: poppins, sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    color: 		#C0C0C0;
   
    
}



.form input {
    width: 100%;
    height: 2.5rem;
    border: none;
    border-bottom: 2px solid #E6E6FA;
    padding: 1.5rem 0;

}

.form input:focus{
   outline: none;
   font-size: 1.2rem;
}
.form textarea{
    width: 100% ;
    height: 8rem;
    border-radius: 15px;
    margin-top: .5rem;
    margin-bottom: 2.5rem;
    outline: none;
    border: none;
    border-bottom: 2px solid #E6E6FA;
    font-size: 1.2rem;
}
.form textarea:focus {
    outline: none;
   
}

.contact .contact__img{
    width: 50%;
    height: 100%;
}

@media  (min-width:1080px) and (max-width:1980px){
    .contact .form{
        width: 60rem;
        height: 43rem;
    }
}