.feedback{
    width: 100%;
    height: 70vh;
    background-color:#F1F1F1 ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 4rem 0;
    
}

.testmonials{
    position: relative;
    height: 100%;
    width: 80%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #021b79, #0575e6);
    margin-left: auto;
    border-radius: 0px 0px 0px 50px;
    
    
}

.testmonials h1{
    position: absolute;
    color: #F1F1F1;
    font-size: 3rem;
    text-transform: capitalize;
    font-family: poppins, sans-serif;
    font-weight:700 ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-bottom: 10rem;
    width: 30rem;
    letter-spacing: .1rem;
    flex-wrap: wrap;
}

.testmonials__img{
    position: absolute;
    right: 0;
    top: 0;
    width: 35rem;
    height: 100%;
    background-position: center;
    background-size: cover;
    object-fit:fill;
    margin-left:auto;
}

.FeedbackCard{
    position: absolute;
    top:-5%;
    left:-13%;
    max-width: 35rem;
    max-height: 25rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 3rem;
    overflow: hidden;
   
}


.prev,
.next{
    position: absolute;
    top: 10rem;
    display: grid;
    place-items:center;
    background-color: transparent;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    font-size: 1.3rem;
    border-color: transparent;
}
.prev{
    left: 2%;
}

.next{
    right: 7%;
}

.client__detail{
    position: absolute;
    left: 0;
    top: 5%;
    display: flex;
    padding: 1rem 2rem;
    margin-right: auto;
}


.client__detail__img img{
    max-width: 7rem;
    max-height: 7rem;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;
}

.client__detail__info{
margin-left: -2rem;
margin-top: 1.3rem;
}
.client__detail__info h3{
    font-size: 1.3rem;
    text-transform: capitalize;
    font-family: poppins, sans-serif;
    font-weight:600 ; 
    margin-bottom: -1.5rem; 
    color: rgba(0, 0, 0, 0.863);
}
.client__detail__info p{
    font-size: 1rem;
    text-transform: capitalize;
    font-family: poppins, sans-serif;
    font-weight:400 ; 
    margin-bottom: -1.5rem; 
    color: rgba(0, 0, 0, 0.616); 
    margin-top: 1.3rem;
}

.feedback__detail{
    padding: 1rem;
    margin-top: 7rem;
    color: rgba(0, 0, 0, 0.616);
    font-size: 1rem;
    font-family: poppins, sans-serif;
    font-weight:400 ;
    line-height: 1.7rem;
}

@media  (min-width:1080px) and (max-width:1440px){
    .testmonials__img{
        width: 25rem;
    }
    .testmonials h1{
        font-size: 1.6rem;
        width: 18rem;
        margin-left: 10rem;
    }
    .FeedbackCard{
        width: 32rem;
        height: 18rem;
    }
    .client__detail__img img{
        width: 5rem;
        height: 5rem;
    }
    .feedback__detail{
        margin-top: 7rem;
    }
    .client__detail__info{
       
        margin-top: 1rem;
    }
    .client__detail__info p{
        margin-top:1.4rem ;
    }
    .prev,
    .next{
    top: 8rem;
}
}

@media only screen and (max-width:550px){
    .feedback{
        text-align: center;
        display: block;
        width: 100%;
        position: relative;
    }
    .testmonials{
        text-align: center;
        display: block;
        width: 100%;
        

    }
 .testmonials__img{
        display: none;
    }
    .testmonials h1{
        font-size: 1.8rem;
        width: 18rem;
    }
    .FeedbackCard{
        top: 60%;
        width: 80%;
        margin: 0 auto;
        padding: 1rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        
    }
    .client__detail{
        padding: 1rem;
        left: 0;
        top: 0%;
        margin-right: auto;
    }
    .client__detail__img img{
        width: 4rem;
        height: 4rem;
    }
    .client__detail__info{
        margin-left: -2rem;
        margin-top: 1rem;
        }
        .client__detail__info h3{
            font-size: 1rem;
        }
        .client__detail__info p{
            font-size: .8rem;
        }
        .feedback__detail{
            font-size: .7rem;
            margin-top: 6rem;
            padding: 0 1.5rem;
            line-height: 1.2rem;
        }
        .prev,
    .next{
    top: 5.5rem;
    }
        .prev,
    .next{
    top: 5.5rem;
    }
} 
@media only screen and (max-width:450px){
    .feedback{
        text-align: center;
        display: block;
        width: 100%;
        position: relative;
    }
    .testmonials{
        text-align: center;
        display: block;
        width: 100%;
        

    }
 .testmonials__img{
        display: none;
    }
    .testmonials h1{
        font-size: 1.8rem;
        width: 100%;
        text-align: center;
        margin: 2rem auto;
    }
    .FeedbackCard{
        top: 60%;
        width: 80%;
        margin: 0 auto;
        padding: .5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        
    }
    .client__detail{
        padding: 1rem;
        left: 0;
        top: 0%;
        margin-right: auto;
    }
    .client__detail__img img{
        width: 4rem;
        height: 4rem;
    }
    .client__detail__info{
        margin-left: -2rem;
        margin-top: 1rem;
        }
        .client__detail__info h3{
            font-size: 1rem;
        }
        .client__detail__info p{
            font-size: .8rem;
        }
        .feedback__detail{
            font-size: .7rem;
            margin-top: 6rem;
            padding: 0 2.5rem;
            line-height: 1.2rem;
            text-align: left;
        }
        .prev,
    .next{
    top: 5.5rem;
    }
     
} 
