.hero-section {
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #021b79, #0575e6);
  overflow: hidden;
  padding: 0 3rem;
  
}

.hero,
.hero-svg {
  align-items: flex-start;
  margin: 8rem 3rem 3rem 3rem ;
  min-height: 35rem;
  max-width: 50%;
  padding: 1rem;
}

.hero .hero-heading {
  color: rgb(255, 241, 241);
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  font-weight: 900;
  line-height: 5.5rem;
}

.hero .hero-description {
  color: rgba(255, 241, 241, 0.589);
  font-size: 1.5rem;
  font-weight: 300;
  margin: 4rem 0 5rem 0;
  letter-spacing: 0.1rem;
 text-align: left;
}

 .hero-img {
  width: 30rem;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-svg {
  align-items: flex-start;
  height: 30rem;
  max-width: 35rem;
}

svg{
  margin-left: .8rem;
}

.square_sq{
  position: absolute;
   left: 50%;
   top: 70%;
}

.triangle__home{
  position: absolute;
  top: 60%;
  left: 70%;
}
@media only screen and (max-width:1440px){
  .hero .hero-heading{
    font-size: 2.7rem;
    line-height: 3.3rem;
  }
  .hero .hero-description{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width:1080px){
  .hero .hero-heading {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  
.hero .hero-description {
  font-size: 1.3rem;
}
}