.smallcardholder{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    z-index: 1000;
    
}

.smallcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 20rem;
    max-width: 20rem;
    background-color: 	#FFFFFF;
    margin: 2rem;
    padding: 1rem;
}

.square{
    position: absolute;
    top:20%;
    left: 20%;
    height: 12rem;
    width: 12rem;
    max-width: 12rem;
    background: transparent;
    border: 15px solid #9bd2d27a;
    z-index:-1;
    margin-left: 5rem;
}

.cardone{
    border-radius: 30px 30px 0px 30px;
    scroll-margin-right: 0;
}
.cardtwo{
    border-radius: 30px 30px 30px 30px;

}
.cardthree{
    border-radius: 30px 30px 30px 0px;
}
.cardfour{
    border-radius: 0px 30px 30px 30px;
}

.largecard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 13rem;
    max-width: 13rem;
    background-color: 	#FFFFFF;
    margin: 1rem;
    padding: 1rem;
}

.column__one{
    margin-top: -3rem;
}
.small__card__container__info{
    font-family: poppins, sans-serif;
    font-weight: 600;
}
.small__card__container__img{
    height: 4rem;
    width: 4rem;
}
@media only screen and (max-width:1100px){
    .square{
    
        left: 10%;
        border: 12px solid #9bd2d27a;
        height: 10rem;
        width: 10rem;
    }
    .small__card__container__img{
        height: 3rem;
        width: 3rem;
    }
    .small__card__container__info{
        font-size: .8rem;
    }
    .smallcard{
        margin: 1rem;
    }
}
@media only screen and (max-width:1000px){
    .square{
    
        left: 6%;
        height: 10rem;
    }
    .smallcard{
        height: 8rem;
        margin: 1rem;
    }
    .largecard{
        height: 9rem;
        width: 9rem;
    }
}

@media only screen and (max-width:800px){
    .square{
    
        left: 1%;
    }
}
@media only screen and (max-width:650px){
    .smallcardholder{
        width: 100%;
        /* margin: 1 auto; */
    }
    .square{
    
        left: 20%;
    }
}
@media only screen and (max-width:650px){
    .square{
    
        left: 10%;
    }
    .smallcard{
        height: 9rem;
        width: 9rem;
        margin: 1rem;
    }
    .largecard{
        height: 10rem;
        width: 10rem;
    }
    .smallcardholder{
       margin-bottom: 5rem;
    }
}





