.logo {
  font-size: 3rem;
  color: aliceblue;
}

.navbar-conatainer {
  width: 100vw;
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background: linear-gradient(to right, #021b79, #0575e6);
  padding: 0 3rem;
  z-index: 5000;
}

.nav-links ul {
  height: 5rem;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 12rem;
}

.nav-links ul li {
  margin-right: 5rem;
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
}
.menu-icon{
  display: none;
}
.active-menu{
  display: block;
  position: relative;
}
.active-menu ul{
position: fixed;
height: 50vh;
width: 100%;
background-color:#eff8fe ;
top: 12%;
left: 0;
}
.active-menu ul li{
  list-style: none;
  padding: .5rem 0;
}

.active-menu .nav-link{
  
    font-size: 1.5rem;
    background-image: linear-gradient(60deg, #000428dc, #004e92e8);
    background-clip: text;
    color: transparent;
    
}
.active-menu .nav-link:hover{
  background-color: #00af4e;
}


.nav-link {
  text-decoration: none;
  color: #e6edf2bb;
  text-transform: capitalize;
  font-weight: 400;
  padding: 0.4rem 0.6rem;
  list-style: none;
}

.nav-link:hover {
  box-shadow: 0 0 0 2px #00af4e;
  border-radius: 5rem;
  transition: all 0.25s ease-in;
}
.social-container{
  display: none;
}

@media  (min-width:1080px) and (max-width:1980px) {
  .logo{
    font-size: 1.8rem;
  }
 
  .nav-links ul{
    margin-left: 4rem;
  }

  .nav-links ul li{
    font-size:1.4rem ;
    margin-right: 3rem;
  }
}

@media only screen and (max-width:650px){
  .nav-links{
    display: none;
  }
  .logo {
    font-size: 1.5rem;
  }
  .btn-primary{
    display: none;
  }
  .navbar-conatainer {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 0 1rem;
  }
  .menu-icon{
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto 0; */
  }
  .fas{
    margin-left: 3rem;
    display: grid;
    place-items: center;
   font-size: 1.8rem;
    color: #f1f1f1;
    transition: all 0.3s;
  }
  .active-menu .social-container{
    display: flex;
    position: inherit;
    position: absolute;
    bottom: 2%;
    left: 0;
  }
  .social-container ul{
    display: flex;
}
.social-container ul li {
  font-size: 1rem;
  color: #0575e6;
  margin-right: 1rem;

}
.social-link link i{
  font-size: 1rem;
  color: #0575e6;
}

}